/* Título, barra de navegação e por fim seus hovers */
#title-page {
     margin-top: 10px;
     border: 5px solid black;
     border-bottom: none;
}#navigation-bar {
     border: 5px solid black;
     border-top: none;
}#navigation-bar a {
     color: black;
     background-color: white;
     border: 3px solid white;
}#navigation-bar a:hover {
     color: black;
     background-color: white;
     border: 3px solid black;
}

/* Publicaçoes recentes */
#main-itens-posts a {
     transform-origin: 0 0;
     transition: transform .25s, visibility .30s ease-in;
}#main-itens-posts a:hover {
     transform: scale(1.005)
}

/* Cards gerais */
.card {
     border: 1px solid white;
}.card a {
     border: 1px solid white;
     display: flex;
     color: white;
     background-color: black;
     align-items: flex-end !important;
}.card a:hover {
     background-color: grey;
     color: white;
     border: 1px solid grey !important;
}.card-footer {
     background-color: white !important;
     border-top: none !important;
}


/* "Who am i" */
#who-is-me-card {
     color: white;
     background-color: grey;
     width: 50rem;
}#who-is-me-card a {
     display: flex;
}

/* lista de melhores jogos */
#my-favorite-games-card {
     color: black;
     border: 3px solid white;
     border-radius: 0;
}


/* Posts "antigos" */
#another-post{
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     border-bottom-left-radius: 4px;
     border-left: 4px solid black;

     transform-origin: 0 0;
     transition: transform .25s, visibility .30s ease-in;
}

#another-post img {
     border: 2px solid black;
}

#another-post:hover {
     background-color: rgb(189, 189, 189);

     transform: scale(1.005)
}

/* responsividade */

@media(max-width: 768px) {
     .navbar-nav {
          display: flex;
          flex-direction: row;
          padding-left: 0;
          margin-bottom: 0;
     }

     #main-itens-posts {
          flex-direction: column;
     }

     #main-itens-posts div {
          justify-content: center;
     }

}