/* Default setting */
#title-page {
     margin-top: 10px;
     border: 1px solid black;
     border-bottom: none;
}

#navigation-bar {
     border: 1px solid black;
     border-top: none;
}

#navigation-bar a {
     color: black;
     background-color: white;
     border: 1px solid white;
}

#navigation-bar a:hover {
     color: black;
     background-color: white;
     border: 1px solid black;
}

/* Image settings */

